footer {
  margin: 0;
  height: 3%;
  background-color: #2255ff;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {    
    height: 100%;
    background-color: #28292c;
    color: #ffffff;
    border: 0;
    padding: 0 15px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
  }
}