@font-face {
  font-family: Consolas;
  src: url(Consolas.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,#root,.container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  font-family: Consolas;
  color: #ffffff !important;
}

body {position: relative; overflow: hidden;}

html,
body,
.container,
#root,
.ace-monokai,
.ace-monokai .ace_gutter {
  background-color: #1e1e1e;
}

#root,.container {height: 100vh; width: 100vw;}
.container > div{width: 100vw; height: 100%; display: flex;}
.container .gutter { width: 4px !important;  cursor: col-resize; border-right: 3px solid #272727;}

#ace-editor, #ace-editor-result,#ace-editor-col .ace_editor {height: 100% !important;}

.code-result {
  height: 100%;
  color: #f1d817;
  word-break: break-all;
  overflow: auto;
  transition: width .2s;
}

#ace-editor .ace_editor,
#ace-editor .ace_content {
  width: 100% !important;
  height: 100% !important;
}

iframe {border: 0;width: 100%;height: 100%;}
p { margin: 0; padding: 0;}

/**/
footer {
  background-color: #006192;
  color: #fff;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  font-size: 12px;
}

footer p{ line-height: 1.75;}
.btn-format, select {
  background-color: #006192 !important; color: #fff; border: 0; font-size: 12px !important;
  outline: none;
}
.btn-format:hover { background-color: #1e1e1e !important;}
/**/
.d-flex-sp { display: flex; justify-content: space-between; align-items: center;}
.d-flex { display: flex; justify-content: center; align-items: center;}

.boder-left {border-left: 2px solid #008fd6 !important;}
.boder-right {border-right: 2px solid #066a9c !important;}

.p-15 {padding: 0 15px !important;}
.h-100 {height: 100% !important;}
/* snackbar */
.snackbar {
  display: none;
  margin-left: -125px;
  font-size: 14px !important;
  background-color: #006192;
    color: #fff;
    padding: 5px 15px;    
  z-index: 999;
}

.snack-right {position: fixed;    right: 5%;bottom: 30px;}
.snack-center {position: fixed;    left: 50%;bottom: 30px;}

.snackbar.show {display: block; animation: fadein 0.5s, fadeout 0.5s 2.5s;}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 40px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 40px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/**/
button {font-family: Consolas; transition: background-color .3s; cursor: pointer;}
/* scroll */
::-webkit-scrollbar {width: 7px;}
::-webkit-scrollbar-thumb {background: #555;}
::-webkit-scrollbar-thumb:hover {background: #363636;}